#school h1 {
    text-align: center !important;
    width: auto !important;
}

#topst-science-core-heuristics-for-open-science-outcomes-in-learning h2,
#topst-science-core-heuristics-for-open-science-outcomes-in-learning p,
#get-started h2,
#get-started p {
    padding: 0rem 3rem;
    text-align: center !important;
    width: auto !important;
}

.custom-footer {
    background-color: #f8f9fa;
    padding: 10px;
    border-top: 1px solid #dee2e6;
    text-align: center;
    position: relative;
    z-index: 10;
}
